@page "/"
<PageTitle>Number Field Test</PageTitle>

<div>
	<p>
		<a href="/slider">Thank you for fixing the FluentSlider's similar behavior!</a>
	</p>

	<p>This test demonstrates that the FluentNumberField's two-way data binding is broken in version 4.4.1.</p>

	<p>In my web app, I have a component that takes a numeric input and divies a portion to a wallet and a portion to a stash. After a number is selected, a button triggers a command and this command also resets the value of the numeric field to 0.</p>

	<p>Unfortunately, the numeric field does not respect the behavior of being reset to 0 by the button command.</p>

	<p>Go ahead and select a number like 2, which will enable the reset button. The expected behavior is for the reset button to set the value back to 0, and for the number input field to reflect that value.</p>

	<div style="display: flex; gap: 20px; margin-bottom: 20px;">
		<FluentNumberField @ref="FluentNumberField" @bind-Value="FluentModel.DataValue" Min="0" Max="@Model.MaxValue.ToString()" />
		<FluentButton OnClick="FluentReset" Disabled="FluentModel.DataValue < 1">Reset</FluentButton>
	</div>

	<p>You can see in the console logs that the data model's value is reset to 0, however the number field's value is still non-zero both visibly and under the hood. This implies that it isn't respecting the binding.</p>

	<p>Please fix.</p>

	<p>Arazni</p>

</div>

@code {
	Model FluentModel { get; set; } = new();

	FluentNumberField<int>? FluentNumberField { get; set; }

	void FluentReset()
	{
		FluentModel.Reset();
		Console.WriteLine("Slider Value: " + FluentNumberField!.Value);
	}
}
